<html class="h-full" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body class="w-full h-full bg-purple-300 flex items-center justify-center overflow-auto">
        {Astro.props.title}
		<slot />
	</body>
</html>